.postView {
    padding: 0.5rem;
}

.postView .source {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.postView .source .divider {
    margin: 0 1rem;
}

.postView .author {
    margin: 0;
}

.postView .media {
    background-color: black;
    display: flex;
    justify-content: center;
}

.postView .media img {
    max-height: 100%;
    max-width: 100%;
}

.postView .media video {
    max-height: 900px;
    max-width: 90%;
}